/*

COLORS

GRIGIONE #3f4651

PAVONE #80BDAA > #96B6AC

 */

 @font-face {
    font-family: 'Sirion';
    src: url('../fonts/sirion-bold-webfont.woff2') format('woff2'),
         url('../fonts/sirion-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sirion';
    src: url('../fonts/sirion-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/sirion-bolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sirion';
    src: url('../fonts/sirion-italic-webfont.woff2') format('woff2'),
         url('../fonts/sirion-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sirion';
    src: url('../fonts/sirion-regular-webfont.woff2') format('woff2'),
         url('../fonts/sirion-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	background-color: #96B6AC;
}

body {
	background-color: #3f4651;
	margin: 40px;
	min-width: calc(100vw - 80px);
	min-height: calc(100vh - 80px);
	color: #E0DDD6;
	font-size: 20px;
	line-height: 28px;
	font-family: 'Sirion', sans-serif;
}

h2 {
	font-size: 14px;
	text-transform: uppercase;
	color: #3CB181;
	font-weight: 500;
	margin-top: 30vh;
}

h2::before {
	content: '\00b7';
	padding: 0 5px 0 0;
}

h2::after {
	content: '\00b7';
	padding: 0 0 0 5px;
}

nav#main-nav {

}

nav#main-nav ul {
	height: 0px;
	position: absolute;
}

/* rectangle under the ABOVE nav voice. */
nav#main-nav ul::before {
	content: '';
	background-color: #96B6AC;
	height: 40px;
	width: 100vw;
	position: fixed;
	top:0;
	left: 0;
}

nav#main-nav li{
	list-style: none;
	position: fixed;
	cursor: pointer;
	color: #404752;
	width: 320px;
	height: 20px;
}

nav#main-nav li.about{
	top: 14px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

nav#main-nav li.approach{
    left: 24px;
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-90deg);
    transform: translateX(-50%) rotate(-90deg);
    transform-origin: center;
}

nav#main-nav li.team{
    right: 24px;
    top: 50%;
    -webkit-transform: translateX(50%) rotate(90deg);
    transform: translateX(50%) rotate(90deg);
    transform-origin: center;
}

nav#main-nav li.instagram{
    position: fixed;
    bottom: 0px;
    height: 40px;
    left: 0;
    width: 100vw;
    background-color: #96b6ac;
    padding: 13px 0;


    /* put this element at the bottom of the body, comment to make it fixed at the bottom of the viewport */
    /*position: absolute;
    bottom: -40px;*/
}

nav#main-nav li.instagram h2::before, nav#main-nav li.instagram h2::after{
    display: none;
}


nav#main-nav li h2{
	color: #404752;
	margin: 0;
	letter-spacing: 0px;
	transition: letter-spacing 0.35s;
}

nav#main-nav li:hover h2 {
	letter-spacing: 0.2px;
}

nav#main-nav li h2::before, nav#main-nav li h2::after {
	content: '';
    width: 50px;
    border-bottom: 1px solid #404752;
    display: inline-block;
    position: relative;
    margin: 5px 10px;
    transition: width 0.35s;
}

nav#main-nav li:hover h2::before, nav#main-nav li:hover h2::after {
	width: 80px;
}

nav#main-nav li a{
	color: #404752;
	text-decoration: none;
}


.green {
	color: #3CB181;
}

.bio {
	font-size: 14px;
	line-height: 24px;
}

.my-hr {
	display: block;
	width: 50px;
	border-bottom: 1px solid #3CB181;
	margin: 15px 0;
}

#cover {
	width: 100%;
	height: calc(100vh - 20px);
	height: 115vh;
	background-image: url(../images/grid-bg24.png);
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

#cover::after {
    content: '';
    background: linear-gradient(rgba(63, 70, 81, 0), rgba(63, 70, 81, 0.9), #3f4651);
    width: 100%;
    height: 15vh;
    display: block;
    position: absolute;
    bottom: 7.5vh;
}

#cover canvas {
	top: -11vh !important;
}

#map {
    height: 80vh;
    width: calc(100% + 30px);
    background-color: #3f4651;
    margin-left: -15px;
}

#map::after {
    height: 20vh;
    display: block;
    content: '';
    width: 100%;
    background: linear-gradient(#3f4651, rgba(63, 70, 81, 0));
    position: relative;
}

/* SLIDESHOW */

.slideshow-container {
    width: calc(100% + 30px);
    height: 50vh;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 10px 0 10px -15px;
}

.slideshow-container::-webkit-scrollbar {
    display: none;
}

.slideshow {
	height: 100%;
	min-width: 100%;
	font-size: 0; /* to remove white space between images, in order to set it precisely according to some margin */
}
.slideshow .slide-box {
	margin-right: 10px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	/* set display inline-block with javascript */
}
.slideshow .slide-box:hover::before, .slideshow .slide-box.focus::before {
	background-color: white;
}
.slideshow .slide-box:last-child {
	margin-right: 0px;
}

.slideshow .slide-box::before{
	content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    pointer-events: none;
    transition: background-color 0.35s;
    transition-delay: 125ms;
    transition-timing-function: ease-in-out;
}
.slideshow .slide {
	height: 100%;
	display: inline-block;
	margin-right: 0px;
	transition-delay: 0.15s;
	cursor: pointer;
	animation-name: none;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	pointer-events: none;
	position: relative;
	mix-blend-mode: multiply;
}

@keyframes fading-before {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fading-after {
    from {opacity: 1;}
    to {opacity: 0;}
}

.slideshow .slide-box.sw01::before {
	background-image: url(../images/sw02.jpg);
	opacity: 0
}
.slideshow .slide-box.sw01:hover::before {
	opacity: 1;
}
.slideshow .slide-box.sw01:hover .slide {
	animation-name: fading-after;
	mix-blend-mode: normal;
}
.slideshow .slide-box.sw01.focus::before {
	opacity: 1;
}
.slideshow .slide-box.sw01.focus .slide {
	animation-name: fading-after;
	mix-blend-mode: normal;
}

.slideshow .slide-box.sw03::before {
	background-image: url(../images/sw04.jpg);
	opacity: 0;
}
.slideshow .slide-box.sw03:hover::before {
	opacity: 1;
}
.slideshow .slide-box.sw03:hover .slide {
	animation-name: fading-after;
	mix-blend-mode: normal;
}
.slideshow .slide-box.sw03.focus::before {
	opacity: 1;
}
.slideshow .slide-box.sw03.focus .slide {
	animation-name: fading-after;
	mix-blend-mode: normal;
}

.slideshow .slide-box.sw05::before {
	background-image: url(../images/sw06.jpg);
	opacity: 0;
}
.slideshow .slide-box.sw05:hover::before {
	opacity: 1;
}
.slideshow .slide-box.sw05:hover .slide {
	animation-name: fading-after;
	mix-blend-mode: normal;
}
.slideshow .slide-box.sw05.focus::before {
	opacity: 1;
}
.slideshow .slide-box.sw05.focus .slide {
	animation-name: fading-after;
	mix-blend-mode: normal;
}

/* PROFILE*/

.profile .img-box {
	background-color: rgba(255, 255, 255, 0);
	transition: background-color 0.35s ease-in-out;
	display: block;
}
.profile .img-box:hover {
	background-color: rgba(255, 255, 255, 1);
}

.profile img {
	mix-blend-mode: multiply;
	pointer-events: none;
}

@media screen and (max-width: 767px){
	body {
		margin: 0 0 40px 0;
		width: calc(100vw);
		font-size: 20px;
		line-height: 28px;
	}

	#cover {
/*		width: 100%;
		height: 115vh;
		background-image: url(../images/grid-bg24.png);*/
	}

	#cover::after {
	    content: '';
	    background: linear-gradient(rgba(63, 70, 81, 0), rgba(63, 70, 81, 0.9), #3f4651);
	    width: 100%;
	    height: 15vh;
	    bottom: 7.5vh;
	}

	#cover canvas {
		top: -7.5vh !important;
	}
}
@media (min-width: 768px) {
	.container {
	    width: 670px;
	}
}

@media (min-width: 992px) {
	.container {
	    width: 890px;
	}
}

@media (min-width: 1200px) {
	.container {
	    width: 1090px;
	}
}